.header__line {
  margin: 41px auto 0 auto;
  max-width: 880px;
  opacity: 0.7;
  border: 1px solid #545454;
}

@media screen and (max-width: 638px) {

  .header__line {
    margin: 31.6px auto 0 auto;
  }

}